<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login here....</h2>
    <form action="candidate_login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username"> <br>
        <!-- <input type="text" name="last_name" placeholder="Enter Last name"> <br> -->
        <input type="password" name="password" placeholder="Enter password"> <br>
        <input type="submit">

    </form>
       <div>
        {% for mssg in messages %}
        <h2>{{mssg}}</h2>
        {% endfor %}
    </div>
</body>
</html>